ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

a:focus {
  outline: none;
}

input {
  padding: 0;
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

button {
  padding: 0;
  border: none;
  outline: none;
}

.all {
  font-family: Roboto;
  font-size: 14px;
  position: relative;
}

.container {
  outline: solid red 2px;
}

.head {
  padding-top: 50px;
  padding-bottom: 40px;
}
.head__navigation {
  display: flex;
}
.head__list {
  display: flex;
  align-items: center;
  gap: 94px;
  margin-left: 465px;
}
.head__logo {
  height: 65.214px;
}
.head__link {
  color: #252B42;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
  letter-spacing: 0.2px;
}
.head__link:hover {
  color: #FA4A0C;
}

.hero {
  background-image: url(../../photos/desktop/hero-background@desktop-1x.webp);
  padding-top: 80px;
  padding-bottom: 162px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url(../../photos/desktop/hero-background@desktop-2x.jpg);
  }
}
.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__text, .hero__name, .hero__title {
  text-align: center;
  color: #f6f6f6;
}
.hero__text, .hero__title {
  margin-bottom: 10px;
}
.hero__name {
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 150% */
  letter-spacing: 0.1px;
}
.hero__title {
  text-align: center;
  font-family: Poppins;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px; /* 137.931% */
  letter-spacing: 0.2px;
  width: 799px;
}
.hero__text {
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px; /* 158.333% */
  letter-spacing: 0.2px;
  margin-bottom: 54px;
}
.hero__button-container {
  display: flex;
  justify-content: center;
  gap: 67px;
}
.hero__button {
  width: 236px;
  padding: 16px 0px;
  border-radius: 30px;
  border: solid 1px #f6f6f6;
  color: #f6f6f6;
  background-color: rgba(238, 255, 255, 0);
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 150% */
  letter-spacing: 0.1px;
}
.hero__button:hover {
  background-color: #FA4A0C;
  border: none;
}

.how {
  padding-top: 56px;
  padding-bottom: 184px;
}
.how__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.how__title {
  font-family: Poppins;
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 81.818% */
  letter-spacing: 0.1px;
  text-align: center;
  margin-bottom: 103px;
}
.how__list {
  height: 507px;
  display: flex;
  gap: 287px;
}
.how__list:last-child {
  margin-top: 108px;
}
.how__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.how__image {
  width: 250px;
  height: 506.972px;
}
.how__text:first-child {
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 150% */
  letter-spacing: 0.1px;
  color: #FA4A0C;
}
.how__text:nth-child(2) {
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 57px; /* 142.5% */
  letter-spacing: 0.2px;
  color: #252B42;
  width: 561px;
}
.how__text:last-child {
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px; /* 158.333% */
  letter-spacing: 0.2px;
  color: #737373;
  width: 467px;
}

.ordernow {
  background-image: url(../../photos/desktop/ordernow-background@desktop-1x.webp);
  background-size: cover;
  padding-top: 147px;
  padding-bottom: 131px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .ordernow {
    background-image: url(../../photos/desktop/ordernow-background@desktop-2x.jpg);
  }
}
.ordernow__container {
  display: flex;
  flex-direction: column;
}
.ordernow__title, .ordernow__text {
  text-align: center;
}
.ordernow__title {
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 57px; /* 142.5% */
  letter-spacing: 0.2px;
  color: #f6f6f6;
  margin-bottom: 10px;
}
.ordernow__text {
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px; /* 158.333% */
  letter-spacing: 0.2px;
  color: #f6f6f6;
  margin-bottom: 61px;
}
.ordernow__button-container {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.ordernow__button {
  padding: 16px 45px;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #f6f6f6;
  background-color: rgba(0, 0, 0, 0);
  color: #f6f6f6;
}
.ordernow__button:hover {
  background-color: #FA4A0C;
  border: none;
}

.basement {
  padding-top: 112px;
  padding-bottom: 58px;
}
.basement__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}/*# sourceMappingURL=main.css.map */