.ordernow{

    background-image: url(../../photos/desktop/ordernow-background@desktop-1x.webp);
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../../photos/desktop/ordernow-background@desktop-2x.jpg);
  }
    background-size: cover;
    padding-top: 147px;
    padding-bottom: 131px;

    &__container{
        display: flex;
        flex-direction: column;
    }

    &__title, &__text{
        text-align: center;
    }

    &__title{
        font-family: Montserrat;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 57px; /* 142.5% */
letter-spacing: 0.2px;
color: $text-color;
margin-bottom: 10px;
    }

    &__text{
        font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 38px; /* 158.333% */
letter-spacing: 0.2px;
color: $text-color;
margin-bottom: 61px;
    }

    &__button-container{
        display: flex;
        justify-content: center;
        gap: 16px;
    }

    &__button{
padding: 16px 45px;
gap: 10px;
border-radius: 10px;
border: 1px solid $text-color;
background-color: rgba(0,0,0,0);
color:$text-color;

        &:hover{
            background-color: $text-hover;
            border:none;
        }
    }
}